<body>
    <nav class="navbar">
        <ul class="navbar-container">
            <a class="navbar-link" href="{% url 'about' %}">About</a>
            <a class="navbar-link" href="{% url 'schedule' %}">Schedule</a>
            <!-- <a class="navbar-link" href="blog/">Blog</a>
            <a class="navbar-link" href="register/">Register</a> -->
        </ul>
    </nav>
</body>