{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="schedule-container">
        <div class="form-flex">
            <form action="/schedule/" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" type="submit" value="Add Event">
            </form>
            <button class="button" href="{% url 'delete' %}">Delete All Schedules</button>
        </div>
        <div class="event-container">
            {% for event in events %}
            <div class="event-flex">
                <div class="main-container">
                    <div class="name">Name: {{ event.name }}</div>
                    <div class="name">in {{ event.selection }}</div>
                    <div class="name">{{ event.date }} {{ event.time }}</div>
                    <div class="name">at {{ event.place }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}